Repository faros-ai/airbyte-connectors, pull requests merged in 2025-07, with the labels that each got.

#2147 FAI-16862 GitLab releases stream
  faros-airbyte-common/src/gitlab/types.ts
  sources/gitlab-source/resources/schemas/farosReleases.json
  sources/gitlab-source/src/gitlab.ts
  sources/gitlab-source/src/index.ts
  sources/gitlab-source/src/streams/common.ts
  sources/gitlab-source/src/streams/faros_releases.ts
  sources/gitlab-source/test/__snapshots__/index.test.ts.snap
  sources/gitlab-source/test/index.test.ts
  sources/gitlab-source/test/resources/faros_releases/catalog.json
Labels: faros-ai-complexity-score-5

#2154 FAI-16862 Implement faros_releases converter for GitLab
  destinations/airbyte-faros-destination/src/converters/gitlab/faros_releases.ts
  destinations/airbyte-faros-destination/test/converters/__snapshots__/faros_gitlab.test.ts.snap
  destinations/airbyte-faros-destination/test/resources/faros_gitlab/all-streams.json
  destinations/airbyte-faros-destination/test/resources/faros_gitlab/catalog.json
  faros-airbyte-common/src/gitlab/types.ts
  sources/gitlab-source/resources/schemas/farosReleases.json
  sources/gitlab-source/src/gitlab.ts
Labels: faros-ai-complexity-score-4

#2157 FAI-17270: Fix additional fields initialize
  sources/azure-repos-source/src/azure-repos.ts
  sources/azure-workitems-source/src/index.ts
  sources/azure-workitems-source/src/streams/common.ts
  sources/azure-workitems-source/src/streams/iterations.ts
  sources/azure-workitems-source/src/streams/projects.ts
  sources/azure-workitems-source/src/streams/users.ts
  sources/azure-workitems-source/src/streams/workitems.ts
Labels: faros-ai-complexity-score-2

#2159 FAI-16936 feat: add Azure Blob Storage support for sync log uploads
  destinations/airbyte-faros-destination/src/sync.ts
Labels: faros-ai-complexity-score-3

#2167 FAI-17300 | Improve assistant metric deletions performance
  destinations/airbyte-faros-destination/src/converters/github/faros_copilot_usage.ts
  destinations/airbyte-faros-destination/test/converters/__snapshots__/faros_github.test.ts.snap
Labels: faros-ai-complexity-score-3

#2168 FAI-17327: Jira add audit events stream to track deleted Jira issues
  sources/jira-source/resources/schemas/farosAuditEvents.json
  sources/jira-source/resources/spec.json
  sources/jira-source/src/index.ts
  sources/jira-source/src/jira.ts
  sources/jira-source/src/streams/faros_audit_events.ts
  sources/jira-source/test/__snapshots__/index.test.ts.snap
  sources/jira-source/test/index.test.ts
  sources/jira-source/test/resources/audit_events/audit_records.json
  sources/jira-source/test/resources/audit_events/catalog.json
  sources/jira-source/test/resources/audit_events/config.json
  sources/jira-source/test/resources/common/catalog.json
Labels: faros-ai-complexity-score-6

#2175 FAI-17067: Fix Azure WorkItems sprint state calculation when timeFrame is missing
  destinations/airbyte-faros-destination/src/converters/azure-workitems/iterations.ts
  destinations/airbyte-faros-destination/test/converters/__snapshots__/azure-workitems.test.ts.snap
  destinations/airbyte-faros-destination/test/resources/azure-workitems/all-streams.log
  sources/azure-workitems-source/src/azure-workitems.ts
Labels: faros-ai-complexity-score-4

#2171 FAI-17340 | Add fetch_issue_comments config to Jira source
  destinations/airbyte-faros-destination/src/converters/jira/faros_issues.ts
  destinations/airbyte-faros-destination/test/converters/__snapshots__/faros_jira.test.ts.snap
  destinations/airbyte-faros-destination/test/resources/faros_jira/all-streams.log
  faros-airbyte-common/src/jira/types.ts
  sources/jira-source/resources/spec.json
  sources/jira-source/src/issue_transformer.ts
  sources/jira-source/src/jira.ts
  sources/jira-source/test/__snapshots__/index.test.ts.snap
  sources/jira-source/test/resources/issues/issues.json
Labels: faros-ai-complexity-score-5

#2180 FAI-17391: Fix FireHydrant incidents timestamp extraction using lifecycle_phases
  destinations/airbyte-faros-destination/src/converters/firehydrant/incidents.ts
  destinations/airbyte-faros-destination/src/converters/firehydrant/models.ts
  destinations/airbyte-faros-destination/test/resources/firehydrant/all-streams.log
  sources/firehydrant-source/src/firehydrant/firehydrant.ts
  sources/firehydrant-source/src/firehydrant/models.ts
  sources/firehydrant-source/src/streams/incidents.ts
  sources/firehydrant-source/src/streams/teams.ts
  sources/firehydrant-source/src/streams/users.ts
Labels: faros-ai-complexity-score-6

#2188 FAI-17416: Add branch information to GitLab merge requests
  destinations/airbyte-faros-destination/src/converters/common/vcs.ts
  destinations/airbyte-faros-destination/src/converters/gitlab/faros_merge_requests.ts
  destinations/airbyte-faros-destination/test/converters/__snapshots__/faros_gitlab.test.ts.snap
  destinations/airbyte-faros-destination/test/resources/faros_gitlab/all-streams.json
  faros-airbyte-common/src/gitlab/types.ts
  sources/gitlab-source/resources/queries/merge-requests-query.gql
  sources/gitlab-source/resources/schemas/farosMergeRequests.json
  sources/gitlab-source/src/gitlab.ts
Labels: faros-ai-complexity-score-6

#2190 Update Azure WorkItems stream to use calculateUpdatedStreamState from CDK
  sources/azure-workitems-source/src/streams/workitems.ts
Labels: faros-ai-complexity-score-3

#2192 FAI-17432: Fix TestRails listSuites method to properly paginate results
  sources/testrails-source/src/testrails/testrails-client.ts
  sources/testrails-source/src/testrails/testrails-models.ts
Labels: faros-ai-complexity-score-4

#2193 FAI-17363 | Add task comments support to Asana source and destination
  destinations/airbyte-faros-destination/src/converters/asana/tasks.ts
  destinations/airbyte-faros-destination/test/converters/__snapshots__/asana.test.ts.snap
  destinations/airbyte-faros-destination/test/converters/asana.test.ts
  destinations/airbyte-faros-destination/test/resources/asana/all-streams.log
  sources/asana-source/resources/schemas/tasks.json
  sources/asana-source/src/asana.ts
  sources/asana-source/src/models.ts
  sources/asana-source/test/__snapshots__/index.test.ts.snap
  sources/asana-source/test/index.test.ts
Labels: faros-ai-complexity-score-6
